<!DOCTYPE html>
<html>
<head>
  <title>WebRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="containers">
		<div id="header">
			<ul class="nav">
				<li><a href="#">Elemento 1</a>
					<ul>
						<li><a href="#">Sub-elemento 1</a>
							<ul>
								<li><a href="#">Sub-elemento 1</a></li>
								<li><a href="#">Sub-elemento 2</a></li>
								<li><a href="#">Sub-Elemento 3</a></li>
								<li><a href="#">Sub-Elemento 4</a></li>
							</ul>
						</li>
						<li><a href="#">Sub-elemento 2</a></li>
						<li><a href="#">Sub-Elemento 3</a></li>
						<li><a href="#">Sub-Elemento 4</a>
							<ul>
								<li><a href="#">Sub-elemento 1</a></li>
								<li><a href="#">Sub-elemento 2</a></li>
								<li><a href="#">Sub-Elemento 3</a></li>
								<li><a href="#">Sub-Elemento 4</a></li>
							</ul>
						</li>
					</ul>
				</li>	
				<li><a href="#">Elemento 2</a></li>
				<li><a href="#">Elemento 3</a></li>
				<li><a href="#">Elemento 4</a></li>
			</ul>
		</div>
	</div>

	<div class="containers">
	<%= yield %>
	</div>
</body>
</html>
